body {
  background: #f4f6fa;
}

.banner {
  width: 100%;
  height: 220px;
  background: url('../Imgs/img-principal.png') center/cover no-repeat;
  border-bottom: 4px solid #123880;
}

.header-custom {
  background-color: rgba(33, 55, 107, 1) !important;
}

.header-custom,
.header-custom * {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.rounded-form .form-control {
  border-radius: 25px; /* Arredonda as quinas do campo de busca */
}

.rounded-form .btn {
  border-radius: 0px 25px 25px 0px; /* Arredonda as quinas do botão */
  position: absolute;
  right: 400px; /* Posiciona 20px da direita */
  top: 50px; /* Posiciona 50px do topo */
}
